@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

:root {
  --color-primary: #005b87;
  --color-secondary: #217092;
  --contrast-color: #6ccff6;
  --bg-prymary: #122638;
  --bg-secondary: #4d5359;
  --transition-speed: 600ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; }

body {
  font-family: "lato";
  font-weight: 900;
  line-height: 1.7;
  color: var(--primary-color)
}
/* basic reset */
body::-webkit-scrollbar {
width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

body::-webkit-scrollbar-thumb {
  background: rgb(15, 195, 250);
}

.main-container {
  margin-left: 6rem;
  background-image: linear-gradient(to right top, rgba(0, 90, 135, 0.8),  hsla(198, 63%, 35%, 0.85)) ,url(https://images.unsplash.com/photo-1570449942860-bb66578faf58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
  height: calc(100vh - 3rem);
  width: calc(100vw - 6rem);
  display: flex;
}


/* LOGIN / SIGNUP Styles */
.index-container {
  background-image: linear-gradient(to right top, rgba(0, 90, 135, 0.8),  hsla(198, 63%, 35%, 0.8)) ,url(https://images.unsplash.com/photo-1570449942860-bb66578faf58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
  background-size: cover;
  background-position: center;
 height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 8rem;
  text-align: center;
}

.signup-container {
  border-top: 3px solid var(--bg-prymary);
}

.form-container{
 display: grid;
  width: 100%;
  margin: auto;
  max-width: 55rem;
  min-height: 67rem;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
 
}


.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--bg-secondary);
}

.form-container form:hover {
  background-color: var(--bg-prymary);
  border: none;
  transition: all 500ms;
}

.form-container form input {
  width: 80%;
  height: 3rem;
  border-radius: 0.4rem;
  margin-bottom: .5rem;
  color: var(--color-secondary);
  font-size: 1.7rem;
  font-weight: 900;
  margin-top: 3rem;
  padding-left: 3rem;
}
.float-label {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.float-label.radio-input {
  background-color: red;
  position: relative;
}
p.radio {
    position: absolute;
    font-size: 1.7rem;
    color: var(--contrast-color);
    font-weight: 900;
}
h2.form-header{
    position: absolute;
    font-weight: 900;
    left: 50%;
    top: 17%;
    font-size: 5rem;
    z-index: 1;
    transform: translate(-45%, -15%);
    color: var(--contrast-color);
}

input[type="radio"].radio{
  height: 0;
  width: 0;
}
#comments{
    width: 65%;
    margin-left: 12px;
    border-radius: 5px;
    color: var(--color-primary);
    height: 5rem;
    margin-top: 3rem;
    resize: none;
}

.float-label label.radio {
  position: relative;
  top: 6rem;
  left: 1.5rem;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding:.5rem 1rem;
  border-radius: .3rem;
  transition: all 300ms ease-out;
  margin-bottom: 3rem;
}
input[type="radio"]:checked + label{
  background-color: #58ba83;
}

input[type="radio"].radio{
  height: 0;
  width: 0;
}

.float-label label{
  position: absolute;
  font-size: 1.7rem;
  color: #777;
  left: 8rem;
  bottom: 0.5rem;
}
.float-label .selectize-input {
  margin-top: 3rem;
  width: 80%;
}
.float-label .valid {
  transform: translate(-1rem, -2.7rem);
  color: var(--contrast-color);
}

.float-label .selectize-input {
    margin-top: 3rem;
    width: 80%;
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--color-secondary);
}

.float-label .valid.especial {
  transform: translate(7rem, -4.2rem);
  color: var(--contrast-color);
}
div.selectize-input.items.has-options.full.has-items{
  height: 4rem;
  font-size: 1.7rem;
  font-weight: 900;
  color: var(--color-secondary);
}


input:focus {
  border:  3px solid var(--contrast-color);
  outline: none;

}
input:focus + label {
    transform: translate(-1rem, -2.7rem);
    color:var(--contrast-color);
    transition: all 600ms;
    
}
input:valid + label {
  transform: translate(-1rem, -2.7rem);
  color:var(--contrast-color);
}

.selectize-control.selectize.single {
  width: 100%;
  margin-left: 10rem;
}


.btn.submit{
    color: var(--contrast-color);
    background-color: var(--color-primary);
    border: none;
    padding: 0;
    height: 4rem;
    width: 30rem;
    text-align: center;
    transition: all 200ms;
}

.btn.submit:hover{
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(116, 218, 219, 0.27);
}

.btn.submit:active{
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(116, 218, 219, 0.27);
}

/* ############################################### */

/* ##################### NAVBAR AFTER LOGIN  #####################*/
.login-info {
    width: 100%;
    background: var(--bg-prymary);
    height: 3rem;
     color: var(--contrast-color);
     display: flex;
    font-size: 1.5rem;
    padding-top: 2px;
    justify-content: space-evenly;
    padding-left: 6rem;
}

.login-info p {
  font-style: italic;
}
.login-info span {
  font-weight: 900;
  font-style: normal;
}

.fa {
position: relative;
display: table-cell;
width: 6rem;
height: 3.6rem;
text-align: center;
vertical-align: middle;
font-size:2rem;
}


.main-menu:hover,nav.main-menu.expanded {
width:25rem;
overflow:visible;
}

.main-menu {
background:var(--bg-prymary);
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:6rem;
overflow:hidden;
-webkit-transition:width .1s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:.7rem 0;
}

.main-menu li {
position:relative;
display:block;
width:25rem;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:var(--contrast-color);
 font-family: arial;
font-size: 1.4rem;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}


.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:var(--color-secondary);
}
/* ################################ */

/*############# Flash messages ############# */
#close{
  text-decoration: none;
}

.flash {
    position: absolute;
    font-size: 3.5rem;
    text-align: center;
    color: var(--contrast-color);
    width: 100%;
    z-index: 100;
}

.flash.error{
  background-color:#ce0000;
}

.flash.success {
    background-color: #8bf721;
    color: var(--color-primary)
}





/* ######################## */

/*############# Show Pages ############# */


.inner-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 5rem;
}
div.header {
  grid-column: 2/5;
}

div.search-bar {
 background-color:var(--bg-prymary);
  grid-column: 2/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 11px 10px 20px 2px rgba(2,9,11,1);
}

.btn.submit.link {
  margin-top: .6rem;
  border-radius: .4rem;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
}
div.search-bar .selectize-control.selectize.single{
margin: 0;
}
div.search-bar .float-label .selectize-input{
  width: 100%;
  margin: 0em;
}
div.header h2 {
  color: var(--bg-prymary);
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.1rem;
  font-weight: 900;
}


div.trailer-info {
  grid-column: 2/5;
  grid-row: 2/-2;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4,1fr);
  gap: 2.5rem;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 300%;
    color: var(--contrast-color);
    text-align: center;
    background-color: var(--bg-prymary);
    border-radius: 1rem;
    box-shadow: 2px 3px 14px 3px rgba(0,0,0,0.71), 8px 3px 14px 3px rgba(0,0,0,0.67);
}

div.technic.info{
  grid-column: 1/3;
  grid-row: 1/3;
}
div.shifts.info{
  grid-column: 3/-1;
  grid-row: 1/3;
}
div.depot.info{
  grid-column: 1/3;
  grid-row: 3/5;
}
div.location.info{
  grid-column: 3/-1;
  grid-row: 3/5;
}





div.edit-delete{
  grid-column: 1/-1;
  grid-row: 6/7;
  background-color: var(--bg-secondary);
  display: flex;
  padding: .5rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
}
.btn.submit.edit {
    color: var(--bg-primary);
    background-color: rgb(224, 105, 7);
    max-width: 15rem;
    padding: .7rem;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5rem;
}
.btn.submit.edit.delete{
  background-color: rgb(165, 22, 22);
}
