<%#  Only display shifts for the actual user %>

<div class="main-container">
<% if !@shifts.empty? %>

  <% @shifts.each do |shift| %>
    <div class="shift_container">
    <%# binding.pry %>
      <p><%= shift.created_at.strftime('%a %-d %B') %></p>
      <p><%= shift.trailer.identifier %></p>
      <p><%= shift.comments %></p>
    </div>
  <% end %>
<% else %>
<h2>You don't have shifts</h2>
<% end %>

</div>