
<div class="main-container">
  <div class="inner-container">
    <div class="header">
  <h2>Find one of our <%= Trailer.all.size %> Trailers </h2>
    </div>
    <div class="search-bar">
      <div class="float-label">
        <select class='selectize' name="shift[trailer_id]" id="magic_link" required>
          <option></option>
          <% Trailer.all.each do |trailer| %>
            <option value="<%= trailer.identifier %>"><%= trailer.identifier %></option>
          <% end %>
        </select>
      </div>
      <a id='dinamic_link' class='btn submit link' href="">Find</a>
    
    </div>
  
  </div>

</div>

<script>
document.getElementById("dinamic_link").addEventListener('click', function(){
 let link = document.getElementById('magic_link').value
 this.href += '/'+link
})
</script>
