
<div class="main-container">
<h1>This is the Model's index page.</h1>

<% Trailer.all.each do |trailer| %>
  <div class="trailer_wrap">
    <h5><%= trailer.identifier %></h5>
    
    <button><a href="/trailers/<%= trailer.identifier %>">Show details</a></button>
  </div>
  
<% end %>

</div>
