
<div class="main-container">
  <h2 class="form-header">Create New Trailer</h2>
  <div class="form-container">
    <form action="/trailers" method="post">
      <div class="float-label">
        <input type="text" name="trailer[identifier]" id="identifier" required>
        <label for="identifier">Trailer Identifier: </label>
      </div>
      <div class="float-label">
        <select class='selectize' name="trailer[depot_id]" id="trailer_depot">
          <% Depot.all.each do |depot| %>
            <option value="<%= depot.id %>"><%= depot.name %> - <%= depot.location %></option>
          <% end %>
        </select>
        <label class='valid especial' for="trailer_depot"> Select Branch: </label>
      </div>
      <div class="float-label">
        <select class='selectize' name="trailer[make]" id="make" required>
          <option value=""></option>
          <option value="CARTWRIGHT">CARTWRIGHT</option>
          <option value="KRONE">KRONE</option>
          <option value="MONTRACON">MONTRACON</option>
          <option value="SCHMITZ">SCHMITZ</option>
          <option value="FRUEHAUF">FRUEHAUF</option>
        </select>
        <label class='valid especial' for="make">Select Manufacturer: </label>
      </div>
      <div class="float-label">
        <input type="date" name="trailer[mot_date]" id="mot_date" required>
        <label class='valid'  for="mot_date">Next MOT due: </label>
      </div>
      <div class="float-label">
        <p class="radio">Is VOR?</p>
        <input class='radio' type="radio" name="trailer[vor]" id="yes" value="true" checked />
        <label class='radio' for="yes">YES</label>
    
        <input  class='radio' type="radio" name="trailer[vor]" id="no" value="false" />
        <label class='radio' for="no">NO</label>
      </div>
      <input class='btn submit' type="submit" value="Submit">
    </form>
  </div>
</div>