<h1>This is the show page for an individual instance of your model.</h1>

 
<%= @trailer.identifier %>

<button><a href="/trailers/<%= @trailer.identifier %>/edit">Edit Trailer</a></button>

<form action="/trailers/<%= @trailer.identifier %>/delete" method="post">
  <input type="hidden" name="_method" id='hidden' value='delete'>
  <input type="submit" value="Delete">
</form>
