

<div class="index-container">
<h1 class='logo'>Trailer Finder</h1>
<div class="form-container">

<div class="login-container">
<form autocomplete="off" action="/login" method="post">
<div class="float-label">
<input type="text" name="email" id="login-email" required >
<label for="login-email">Email</label>
</div>
<div class="float-label">

<input type="password" name="password" id="login-password" required>
<label for="login-password">Password</label>
</div>
<input class='btn submit' type="submit" value="Login">
</form>
</div>
<div class="signup-container">
<form autocomplete="off" action="/signup" method="post">
<div class="float-label">
<input type="text" name="email" id="signup-email" required>
<label for="signup-email">Email</label>

</div>
<div class="float-label">
<input type="password" name="password" id="signup-password" required>
<label for="signup-password">Password</label>

</div>
<input class='btn submit' type="submit" value="Sign up">
</form>
</div>

</div>

</div>
