<h1>Update Depot</h1>

<form action="/depots/<%= @depot.slug %>" method="post">
<input type="hidden" name="_method" id='hidden' value='patch'>
  <label for="name">Change Depot Branch</label><br>
  <input type="text" name="depot[name]" id="name" value='<%= @depot.name %>' required><br>
  <label for="location">Change Location Depot</label><br>
  <input type="text" name='depot[location]' id='location'value='<%= @depot.location %>' required><br>
  <br>
  <input type="submit" value="edit">
</form>
