<div class="main-container">
  <h2>Update Depot</h2>
  <div class="form-container">
    <form action="/depots/<%= @depot.slug %>" method="post">
      <input type="hidden" name="_method" id='hidden' value='patch'>
    <div class="float-label">
    <input type="text" name="depot[name]" id="name" value='<%= @depot.name %>' required >
    <label for="name">Depot Branch</label>
    </div>
    <div class="float-label">
    <input value='<%= @depot.location %>' type="text" name='depot[location]' id='location' required>
    <label for="location">New Location Depot</label>
    </div>
    <input class='btn submit' type="submit" value="Create">
    </form>
  </div>

</div>