<h1>Create a New Depot</h1>

<form action="/depots" method="post">
  <label for="name">Depot Branch</label><br>
  <input type="text" name="depot[name]" id="name" required ><br>
  <label for="location">New Location Depot</label><br>
  <input type="text" name='depot[location]' id='location' required><br>
  <input type="submit" value="Create">
</form>