<div class="main-container">
<h2 class='form-header'>Create a New Depot</h2>

  <div class="form-container">
    <form action="/depots" method="post">
    <div class="float-label">
    <input type="text" name="depot[name]" id="name" required >
    <label for="name">Depot Branch</label>
    </div>
    <div class="float-label">
    <input type="text" name='depot[location]' id='location' required>
    <label for="location">New Location Depot</label>
    </div>
    <input class='btn submit' type="submit" value="Create">
    </form>
  </div>

  

</div>